/* line 1, ../sass/estilo.scss */
nav {
  margin-bottom: 40px;
}

/* line 5, ../sass/estilo.scss */
.ocultar {
  display: none;
}

/* line 9, ../sass/estilo.scss */
.container {
  background-color: rgba(0, 0, 0, 0.585);
  height: 80vh;
}
/* line 13, ../sass/estilo.scss */
.container > form {
  text-align: center;
  padding: 30px;
}
/* line 16, ../sass/estilo.scss */
.container > form > #inpUsuario {
  width: 70%;
  font-size: 15px;
}
/* line 20, ../sass/estilo.scss */
.container > form > #buscar {
  padding: 10px;
  margin-top: 2vh;
  width: 50%;
  font-size: 20px;
  cursor: pointer;
  box-shadow: inset 0 0 10px black;
  border-color: black;
}

/* line 32, ../sass/estilo.scss */
#solicitud {
  text-align: center;
  position: absolute !important;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  padding: 20px;
  background-image: radial-gradient(rgba(0, 0, 0, 0.599), #000000);
  border: 2px solid black;
  border-radius: 10px;
}
/* line 44, ../sass/estilo.scss */
#solicitud > h1 {
  color: white;
  text-shadow: 0 0 10px black;
}
/* line 48, ../sass/estilo.scss */
#solicitud > button {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
